/* Pre styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

    /* outline: 1px solid limegreen;
    background: rgba(0, 100, 0, 0.05); */
}
.primary-btn{
    padding: 15px;
    background-color: #FF900E;
    border: 1px solid #FF900E;
    border-radius: 8px;
    cursor: pointer;

    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.4s ease all;
}
.primary-btn:hover{
    background-color: transparent;
    border: 1px solid #FF900E;
    color: #FF900E;
}

/* Actual styles */
/* Header styles */
#header{
    background-color: #FFF4E7;
}

        /* styles for nav part */
#header .nav{
    max-width: 980px;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .nav .header-logo{
    font-size: 30px;
    font-weight: 700;
    color: #131313;
}
#header .nav .menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
#header .nav li{
    list-style-type: none;
}
#header .nav a{
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #424242;
}
#header .nav a:hover{
    border-bottom: 2px solid #ffc179;
}

/* Header banner styles */
#header .header-banner{
    text-align: center;
    margin-top: 60px;

    max-width: 980px;
    margin: 0 auto;
    padding: 30px;
}
#header .header-banner .banner-tittle{
    width: 50%;
    margin: 0 auto;
    font-size: 44px;
    font-weight: 700;
    color: #131313;
}
#header .header-banner .banner-desc{
    width: 80%;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}
#header .header-banner img{
    width: 100%;
    margin-top: 30px;
}

/* styles for main part */
#main{
    max-width: 980px;
    margin: 80px auto;
}
/* Team part styles */
#main .team{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
#main .team .team-images{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
#main .team .team-images img{
    width: 100%;
}
#main .team .team-text{
    width: 80%;
}
#main .team-text .team-desc{
    margin: 15px 0;
    color: #727272;
    line-height: 26px;
}


/* Features section styles */
#main .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
    gap: 50px;
}
#main .feature-content .content-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 20px;

    font-size: 35px;
    font-weight: 700;
    color: #131313;
}
#main .feature-content .content-desc{
    font-size: 16px;
    color: #727272;
    margin: 20px 0;
    line-height: 30px;
}
#main .feature-content .card{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}
#main .feature-content{
    width: 70%;
}
#main .feature-content .card h3{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}
#main .feature-content .card p{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 15px;
    line-height: 30px;
}
#main .feature-img img{
    width: 100%;
    margin-left: 50px;
}
#main .feature-img .feature-exp{
    width: 140px;
    padding: 30px 0;
    background-color: #FF900E;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;

    position: relative;
    bottom: 60px;
}


/* Some facts section */
#main .facts .facts-tittle{    
    font-size: 35px;
    font-weight: 700;
    color: #131313;
}
#main .facts .facts-desc{
    font-size: 16px;
    color: #727272;
    margin-top: 15px;
    line-height: 30px;
    width: 60%;
}
#main .facts .fact-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px 0 100px 0;
}
#main .facts .fact-container .fact{
    padding: 30px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

/* For small mobiles */
@media screen and (min-width: 320px) and (max-width: 374px){

            /* styles for nav part */
    #header .nav .header-logo{
        margin-left: 10px;
        margin-bottom: 15px;
    }
    #header .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    #header .nav .menu{
        display: block;
    }
    #header .nav li{
        margin-bottom: 18px;
    }

            /* header banner styles */
    #header .header-banner{
        text-align: left;
        padding: 15px 30px;
    }
    #header .header-banner .banner-tittle{
        width: 100%;
        text-align: left;
    }
    #header .header-banner .banner-desc{
        width: 90%;
        margin: 15px 0;
        text-align: left;
    }

            /* Team section */
    #main .team{
        flex-direction: column-reverse;
    }
    #main .team .team-images, .team-text{
        width: 90%;
    }

            /* Features section */
    #main .features{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #main .feature-content {
        width: 100%;
    }
    #main .feature-content .content-desc{
        padding: 0 20px;
    }
    #main .feature-img{
        width: 70%;
        margin: 0 5px;
    }
    #main .feature-img img{
        margin-left: 25px;
    }
    #main .feature-img .feature-exp {
        width: 125px;
        padding: 20px 0;
    }
}

/* For medium mobiles */
@media screen and (min-width: 375px) and (max-width: 424px){

            /* styles for nav part */
    #header .nav .header-logo{
        margin: 0 0 15px 15px;
    }
    #header .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
    }
    #header .nav .menu{
        display: flex;
        gap: 5px;
    }
    #header .nav li{
        margin-bottom: 18px;
    }
    
            /* header banner styles */
    #header .header-banner{
        text-align: left;
        padding: 15px 30px;
    }
    #header .header-banner .banner-tittle{
        width: 100%;
        text-align: left;
    }
    #header .header-banner .banner-desc{
        width: 90%;
        margin: 15px 0;
        text-align: left;
    }

            /* Team section */
    #main .team{
        flex-direction: column-reverse;
    }
    #main .team .team-images, .team-text{
        width: 90%;
    }
    
            /* Features section */
    #main .features{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #main .feature-content {
        width: 100%;
    }
    #main .feature-content .content-tittle{
        width: 80%;
        font-size: 35px;

    }
    #main .feature-content .content-desc{
        padding: 0 10px;
        text-align: justify;
    }
    #main .feature-img{
        width: 70%;
        margin: 0 10px;
    }
    #main .feature-img img {
        margin-left: 25px;
    }
    #main .feature-img .feature-exp{
        width: 125px;
        padding: 20px 0;
    }
}

/* For large mobiles */
@media screen and (min-width: 425px) and (max-width: 768px){

            /* styles for nav part */
    #header .nav .header-logo{
        margin: 0 0 15px 15px;
    }
    #header .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    #header .nav .menu{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    #header .nav li{
        margin-bottom: 18px;
    }
        
            /* header banner styles */
    #header .header-banner{
        text-align: left;
    }
    #header .header-banner .banner-tittle{
        width: 100%;
        text-align: left;
    }
    #header .header-banner .banner-desc{
        width: 90%;
        margin: 20px 0;
        text-align: left;
    }

        
            /* Team section */
    #main .team{
        flex-direction: column-reverse;
    }
    #main .team .team-images, .team-text{
        width: 90%;
    }
    #main .team .team-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #main .team .team-images img{
        width: 40%;
    }
        

                /* Features section */
    #main .features{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #main .feature-content {
        width: 100%;
    }
    #main .feature-content .content-desc{
        padding: 0 20px;
    }
    #main .feature-img{
        width: 75%;
        margin: 0 10px;
    }
    #main .feature-img img {
        margin-left: 25px;
        width: 85%;
    }
}
/* For tablet */
@media screen and (min-width: 768px) and (max-width: 980px){

            /* styles for nav part */
    #header .nav .header-logo{
        margin: 0 0 15px 15px;
    }
    #header .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    #header .nav .menu{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    #header .nav li{
        margin-bottom: 18px;
    }
        
            /* header banner styles */
    #header .header-banner{
        text-align: left;
    }
    #header .header-banner .banner-tittle{
        width: 100%;
        text-align: left;
    }
    #header .header-banner .banner-desc{
        width: 90%;
        margin: 20px 0;
        text-align: left;
    }

        
            /* Team section */
    #main .team{
        flex-direction: column-reverse;
    }
    #main .team .team-images, .team-text{
        width: 90%;
    }
    #main .team .team-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #main .team .team-images img{
        width: 40%;
    }
        

                /* Features section */
    #main .features{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #main .feature-content {
        width: 100%;
    }
    #main .feature-content > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #main .feature-content .content-desc{
        padding: 0 20px;
    }
    #main .feature-img{
        width: 75%;
        margin: 0 10px;
    }
    #main .feature-img img {
        margin-left: 25px;
        width: 85%;
    }
}
