/* Pre styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Actual styles */
/* Header styles */
#header{
    background-color: #FFF4E7;
}
#header .nav{
    max-width: 980px;
    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .nav .header-logo{
    font-size: 30px;
    font-weight: 700;
    color: #131313;
}
#header .nav .menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
#header .nav li{
    list-style-type: none;
}
#header .nav a{
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #424242;
}
#header .nav a:hover{
    border-bottom: 2px solid #ffc179;
}



/* For smart watches */
@media screen and (max-width: 319.8px){

}

/* For small mobiles */
@media screen and (min-width: 320px) and (max-width: 374px){
    #header .nav .header-logo{
        margin-left: 10px;
        margin-bottom: 15px;
    }
    #header .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #header .nav .menu{
        display: block;
    }
    #header .nav li{
        margin-bottom: 18px;
    }
}

/* For medium mobiles */
@media screen and (min-width: 375px) and (max-width: 424px){

}

/* For large mobiles */
@media screen and (min-width: 425px) and (max-width: 767px){

}

/* For tablet */
@media screen  and (min-width: 768px) and (max-width: 1023px) {
    
}

/* For laptops */
@media screen and (min-width: 1200px) {
    
}